---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import dayjs from "dayjs";

const products = await getCollection("products");

const featuredProducts = products
  .sort((a, b) =>
    dayjs(b.data.dateAdded || "2017-1-1").diff(a.data.dateAdded || "2017-1-1")
  )
  .slice(0, 6);
---

<section class="mx-auto max-w-5xl border rounded-xl shadow-xl">
  <ul class="list-none flex flex-wrap p-0 justify-center m-0">
    {
      featuredProducts.map((product) => {
        const { product_images, product_buy_links, title } = product.data;
        const lowestPriceLink =
          product_buy_links?.sort(
            (a: any, b: any) =>
              parseFloat(
                (a["link-price"] || `$${9e9}`).replace(/[^0-9\.]+/g, "")
              ) -
              parseFloat(
                (b["link-price"] || `${9e9}`).replace(/[^0-9\.]+/g, "")
              )
          )[0] || {};
        let lowestPrice;
        if ("link-price" in lowestPriceLink) {
          lowestPrice = lowestPriceLink["link-price"];
        } else {
          lowestPrice = null;
        }
        return (
          <li class="basis-full sm:basis-1/2 md:basis-1/3 overflow-hidden border-b border-rounded-lg m-0">
            <a
              href={`/${product.slug}`}
              class="no-underline hover:underline group transition-[bottom opacity] flex flex-col justify-end  "
            >
              <div class="group-hover:opacity-0 duration-200 min-h-[150px] flex flex-col items-center">
                <h3 class="text-center">{title}</h3>
                {lowestPrice && <i>From {lowestPrice}</i>}
              </div>
              <div class="relative h-[200px] mb-auto flex justify-center items-start">
                {product_images && product_images.length > 0 && (
                  <Image
                    src={product_images[0]}
                    alt={title}
                    height={300}
                    class="absolute bottom-[-50%] group-hover:bottom-[0] duration-500  m-0 mb-auto"
                  />
                )}
              </div>
            </a>
          </li>
        );
      })
    }
  </ul>
</section>
