---
import { getCollection } from "astro:content";
import bb from "../../assets/images/projects/3DPrintCase_FrontPage.png";

import { Image } from "astro:assets";

const projects = await getCollection("projects");
console.log(projects);
---

<section
  class="max-w-7xl container mx-auto px-5 sm:px-12 md:px-24 py-6 not-prose"
>
  <div class="grid-cols-1 sm:grid md:grid-cols-4">
    {
      projects.map((project: any) => (
        <div class="mx-3 mt-6 flex flex-col rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0">
          <a href={project.slug}>
            {project.data &&
              project.data.images &&
              project.data.images.length > 0 && (
                <Image src={project.data?.images[0]} alt={project.data.title} />
              )}
            <div class="p-6">
              <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
                {project.data.title}
              </h5>
              <p class="mb-4 truncate-text text-base text-neutral-600 dark:text-neutral-200">
                {project.data.description}
              </p>
            </div>
          </a>
        </div>
      ))
    }
  </div>
</section>
